<<<<<<< HEAD
/* Your custom styles */

.navbar-brand,
.nav-link {
    text-transform: uppercase;
}

.nav.nav-tabs {
    display: block;
    float: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.tab-content.card {
    margin-top: 2em;
}
=======
/* YOUR CUSTOM STYLES */
>>>>>>> 9a4658332127a16da2be8a3155aa5aaccfde9fc3
