.media .media-left {
<<<<<<< HEAD
  padding: 0 10px 10px 0;
  img {
    @extend .z-depth-1-half;
  }
}

.list-group a:hover {
  transition: 0.5s;
=======
    padding: 0 10px 10px 0;
    img {
        @extend .z-depth-1-half;
    }
}

.list-group a:hover {
    transition: 0.5s;
>>>>>>> 9a4658332127a16da2be8a3155aa5aaccfde9fc3
}