// Miscellaneous free

// White border
.table-inverse {
  th,
  td,
  thead th {
    border-color: $table-inverse-color-border;
  }
}

// Edge Headers
.edge-header {
<<<<<<< HEAD
  display:block;
  height:278px;
  background-color:#ccc;
}

.free-bird {
  margin-top:-100px;
=======
	display:block;
	height:278px;
	background-color:#ccc;
}

.free-bird {
	margin-top:-100px; 
>>>>>>> 9a4658332127a16da2be8a3155aa5aaccfde9fc3
}