/*  styles for bayside beat */


/*universal selector*/

* {
    margin: 0;
    padding: 0;
}


/*page structure*/

body {
    width: 100%;
    background-color: lightskyblue;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.wrapper {
    display: block;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

header,
footer {
    display: block;
    height: 18vh;
    margin: 0;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    line-height: 3em;
    color: steelblue;
    text-align: center;
}

ul.main_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 3vh;
    background: #4D4D4D;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.link_name {
    width: 20%;
    text-align: center;
}

a.link_item,
a.link_item:link,
a.link_item:visited {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.link_name:hover,
.link_name.current {
    color: white;
    background-color: steelblue;
    padding: 0.5em 0.25em;
}

div.hero {
    display: block;
    margin: 0;
    position: relative;
}

.hero_image {
    width: 100%;
}

.hero_text {
    position: absolute;
    top: 2.2em;
    right: 2.5em;
    width: 36%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FAA356;
    color: #FFFFFF;
    border-radius: 15px;
}

.hero_text h2 {
    color: #ffffff;
}

div.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section.col-1 {
    flex: 2;
    margin-left: .5em;
    margin-right: 0.25em;
}

aside.col-2 {
    flex: 1;
    margin-right: 0.5em;
    margin-left: 0.25em;
}

footer {
    border-top: 1px solid grey;
}

.footer_text {
    text-align: center;
}


/*typographical section*/

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    line-height: 1.8em;
    color: steelblue;
}

figure {
    width: 40%;
    margin: 1em auto;
    padding: 1em 1em 2em 1em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.fig_image {
    width: 100%;
}

figcaption {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color: #FF6600;
}

a:visited {
    color: #FF944C;
}

a:hover,
a:active,
a:focus {
    color: steelblue;
    text-decoration: underline;
}